body {
    font-family: 'Poppins', sans-serif;
}

.h1-myname {
    color: rgb(248, 106, 90);
}

h1 {
    font-size: 45px;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-right: 2%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 8px;
    border-radius: 5em;
    color: white;
    font-weight: 600;
}